<style>
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
 

<div class="container" ng-controller="EmployeeCtrl as ctrl"> 
    
<h1>Employee Details</h1>

    <table class="table table-striped table-fixed" ng-controller="EmployeeCtrl as ctrl">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Title</th>
                <th scope="col">Pay</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="employee in ctrl.employees" ng-click="ctrl.selectEmployee($index)">
                <td class="text-center">{{employee.id}}</td>
                <td class="text-center">{{employee.firstName}}</td>
                <td class="text-center">{{employee.lastName}}</td>
                <td class="text-center">{{employee.jobTitle}}</td>
                <td class="text-center">{{employee.hourlyPay}}</td>
                <td class="text-center"><a href="employeeForm.html" >UPDATE</a> | <a href="#" class="text-danger" ng-click="ctrl.deleteEmployee()">DELETE</a></td>
            </tr>

        </tbody>
    </table> 
<a href="employeeForm.html" class="btn btn-primary" role="button" aria-pressed="true">Add Employee</a>

</div>
