<!DOCTYPE html>
<html ng-app="DonutApp">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.css">   
        
       


    </head>
    <body  ng-controller="mainCtrl">
        <br>

        <div>
            <navbar-directive ng-if="authorized" ></navbar-directive>
            <login-directive ng-if="!authorized" ></login-directive>
            <employee-directive ng-if="authorized" ></employee-directive>
        </div>





        <script src="js/bootstrap.min.js"></script>       
        <script src="js/angular.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="script/app.js"></script>
        <script src="script/services/loginService.js"></script>        
        <script src="script/services/employeeService.js"></script>
        <script src="script/controllers/mainCtrl.js"></script>
        <script src="script/controllers/loginCtrl.js"></script>
        <script src="script/controllers/employeeCtrl.js"></script>
        <script src="script/directives/loginDirective.js"></script>
        <script src="script/directives/employeeDirective.js"></script>
        <script src="script/directives/navbarDirective.js"></script>

    </body>
</html>
